version: '3.9'

services:
  mysql:
    image: mysql:8.0.32
    hostname: mysql
    container_name: mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_PASSWORD=user
    volumes:
      - ./migrations/sql:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"

  rabbitmq:
    image: rabbitmq:3.9.29-management
    hostname: rabbitmq
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
      - "15692:15692"
    environment:
      - RABBITMQ_DEFAULT_USER=user
      - RABBITMQ_DEFAULT_PASS=user
      - RABBITMQ_DEFAULT_VHOST=/

  ordersys:
    build: .
    image: ordersys
    hostname: ordersys
    container_name: ordersys
    depends_on:
      - mysql
      - rabbitmq
    ports:
      - "8000:8000"
      - "8080:8080"
      - "50051:50051"
    environment:
      - DB_DRIVER=mysql
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=store
      - AMQP_HOST=rabbitmq
      - AMQP_PORT=5672
      - AMQP_USER=user
      - AMQP_PASSWORD=user
      - GRPC_SERVER_PORT=50051
      - REST_SERVER_PORT=8080
      - GRAPHQL_SERVER_PORT=8000
